@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  background: url("nature-wallpaper2.jpg") no-repeat center;
  color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.searchBar {
  width: 60%;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  margin-top: 2%;
}
.search {
  width: 70%;
}
.search > svg {
  height: 1.4rem;
  color: gray;
  padding-left: 0.4rem;
}
.search > input {
  border: none;
  font-size: 1.4rem;
  padding: 0.3rem;
  width: 70%;
}
.search > input:focus {
  outline: none;
}
.searchBar > button {
  padding: 1rem 1.7rem;
  background-color: rgb(81, 0, 255);
  border-radius: 0.3rem;
  color: white;
  border: none;
  font-size: 1.4rem;
}
.mainContent {
  width: 30%;
  height: 40%;
  min-width: fit-content;
  margin-top: 17%;
  background-color: rgba(255, 255, 255, 0.905);
  border-radius: 0.4rem;
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    "cityName cityName date date"
    "temperature temperature temperature temperature"
    "humidity humidity humidity humidity";
  row-gap: 2rem;
}

h3 {
  color: rgb(56, 56, 56);
}
.cityName {
  grid-area: cityName;
  font-size: 2rem;
  justify-content: start;
  align-self: start;
}
.date {
  grid-area: date;
  justify-self: end;
  align-self: start;
}
.temperatureContainer {
  grid-area: temperature;
  font-size: 4rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desc {
  font-size: 1rem;
}
.humidity {
  grid-area: humidity;
  justify-self: start;
  align-self: start;
}
@media only screen 
and (device-width: 414px) 
and (device-height: 896px) 
and (-webkit-device-pixel-ratio: 2) { 
  .searchBar{
    width: 100%;
  }
  .mainContent{
    margin-top: 50%;
  }
}
